<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="jumbotron">
                    <div class="container">
                        <h1>{{ msg }}</h1>
                        <h2>This is MusiFile!</h2>
                    </div>
                </div>
                <form action="POST" class="clearfix mb-4">
                    <div class="form-group">
                        <label for="example-text">Artist you are looking for?</label>
                        <input aria-describedby="example-text" class="form-control" id="txtArtistName" placeholder="Enter Artist Here" type="text">
                            <button class="btn btn-primary float-right" id="artistSubmit">Submit</button>
                        </div>
                        <div class="form-group">
                            <label for="example-text">What Album?</label>
                            <input aria-describedby="example-text" class="form-control" id="txtAlbumName" placeholder="Enter Album Here" type="text">
                                <button class="btn btn-primary float-right" id="albumSubmit">Submit</button>
                            </div>
                            <div class="form-group">
                                <label for="example-text">Any Particular Song/Track?</label>
                                <input aria-describedby="example-text" class="form-control" id="txtTrackName" placeholder="Enter Song/Track Here" type="text">
                                    <button class="btn btn-primary float-right" id="songSubmit">Submit</button>
                                </div>
                                <div class="form-group">
                                    <label for="example-description">Example Description</label>
                                    <textarea aria-describedby="example-description" class="form-control" id="example-description" placeholder="Enter Example Description"></textarea>
                                </div>
                                <button class="btn btn-primary float-right" id="submit">Submit</button>
                            </form>
                            <div>
                                <div id="bandName"></div>
                                <div id="albumName"></div>
                                <div id="trackName"></div>
                                <h3></h3>
                                <ul class="list-group" id="example-list">
                                    {{#each examples}}
                                        <li data-id="{{ this.id }}" class="list-group-item">
                                            <a href="example/{{ this.id }}">{{ this.text }}</a>
                                            <button class="btn btn-danger float-right delete">ｘ</button>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
            <script src="/js/index.js"></script>

            <script>
                // Last.fm artist search API documentation
                $(document).ready(function () { // console.log("Artist Ready!");
                    $("#artistSubmit").click(function (event) {
                        event.preventDefault();
                        var myArtist = $("#txtArtistName").val();
                        var queryURL = "http://ws.audioscrobbler.com/2.0/?method=artist.search&artist=" + myArtist + "&api_key=580beee892761fab1fcb540e44edf2ab&format=json";
                        // console.log(queryURL);

                        var artistSearch = {
                            async: true,
                            crossDomain: true,
                            url: queryURL,
                            method: "GET",
                            headers: {}
                        };

                        $.ajax(artistSearch).done(function (response) {
                            results = response;


                            // Creating a div for the results
                            var artistResults = $("<div>");

                            for (var i = 0; i < artistResults.length; i++) {
                                console.log(results.results.artistmatches.artist[0].name);


                                // Creating a div for the gif
                                var musicContainer = $("<div>");

                                // Storing the Artists name in a variable
                                var artistName = results.results.artistmatches.artist[i].name;

                                // Creating a paragraph tag with the Artists name
                                var newHeading = $("<h2>").text("Artist: " + artistName);

                                // Appending the paragraph we created to the "musicContainer" div we created
                                musicContainer.append(newHeading);

                                // Prepending the gifDiv to the "#someUniqueId" div in the HTML
                                $("#bandName").prepend(musicContainer);
                            }


                            // Creating a URL tag
                            var urlResults = $("<div>");

                            for (var i = 0; i < artistResults.length; i++) {
                                console.log(results.results.artistmatches.artist[0].url);

                                // Creating a div for the gif
                                var urlContainer = $("<a>");
                                // Storing the Artists name in a variable
                                var artistURL = results.results.artistmatches.artist[i].url;

                                // Creating a paragraph tag with the Artists name
                                var newHeading = $("<h2>").text("Artist Last.FM Link: " + artistURL);

                                // Appending the paragraph we created to the "musicContainer" div we created
                                urlContainer.append(newHeading);

                                // Prepending the gifDiv to the "#someUniqueId" div in the HTML
                                $("#bandName").prepend(urlContainer);


                            }


                            var artistAbridged = artistResults.map(function (item) {
                                try {
                                    return {
                                        name: item.name, url: item.url,
                                        // image: item.image[0]
                                        // eslint-disable-next-line indent
                                        image: item.image
                                    };
                                } catch (err) { // don't do anything
                                }

                            });
                        });
                    });


                    // Last.fm album search API documentation
                    $(document).ready(function () { // console.log("Album Ready!");
                        $("#albumSubmit").click(function (event) {
                            event.preventDefault();
                            var myAlbum = $("#txtAlbumName").val();
                            var queryURL = "http://ws.audioscrobbler.com/2.0/?method=album.search&album=" + myAlbum + "&api_key=580beee892761fab1fcb540e44edf2ab&format=json";
                            console.log(queryURL);

                            var albumSearch = {
                                async: true,
                                crossDomain: true,
                                url: queryURL,
                                method: "GET",
                                headers: {}
                            };

                            $.ajax(albumSearch).done(function (response) {
                                results = response;
                                console.log(results);

                                // Creating a div for the results
                                var albumResults = $("<div>");

                                for (var i = 0; i < albumResults.length; i++) {
                                    console.log(results.results.albummatches.album[i].name);


                                    // Creating a div for the gif
                                    var albumContainer = $("<div>");

                                    // Storing the album name in a variable
                                    var albumName = results.results.albummatches.album[i].name;

                                    // Creating a paragraph tag with the album name
                                    var newHeading = $("<h2>").text("Album: " + albumName);

                                    // Appending the paragraph we created to the "albumContainer" div we created
                                    albumContainer.append(newHeading);

                                    // Prepending the gifDiv to the "#someUniqueId" div in the HTML
                                    $("#bandName").prepend(albumContainer);
                                }

                                var albumAbridged = albumResults.map(function (item) {
                                    try {
                                        return {
                                            name: item.name, url: item.url,
                                            // image: item.image[0]
                                            // eslint-disable-next-line indent
                                            image: item.image
                                        };
                                    } catch (err) { // don't do anything
                                    }
                                });
                            });
                        });
                    });


                    // Last.fm Song/Track search API documentation
                    $(document).ready(function () { // console.log("Song Ready!");
                        $("#songSubmit").click(function (event) {
                            event.preventDefault();
                            var myTrack = $("#txtTrackName").val();
                            var queryURL = "http://ws.audioscrobbler.com/2.0/?method=track.search&track=" + myTrack + "&api_key=580beee892761fab1fcb540e44edf2ab&format=json";
                            console.log(queryURL);

                            var trackSearch = {
                                async: true,
                                crossDomain: true,
                                url: queryURL,
                                method: "GET",
                                headers: {}
                            };

                            $.ajax(trackSearch).done(function (response) {
                                results = response;


                                // Creating a div for the results
                                var trackSearch = $("<div>");

                                for (var i = 0; i < trackSearch.length; i++) {
                                    console.log(results.results.trackmatches.track[i].name);


                                    // Creating a div for the gif
                                    var tracksContainer = $("<div>");

                                    // Storing the track name in a variable
                                    var trackName = results.results.trackmatches.track[i].name;

                                    // Creating a <H2></H2> tag with the album name
                                    var newHeading = $("<h2>").text("Track: " + trackName);

                                    // Appending the paragraph we created to the "tracksContainer" div we created
                                    tracksContainer.append(newHeading);

                                    // Prepending the gifDiv to the "#someUniqueId" div in the HTML
                                    $("#trackName").prepend(tracksContainer);
                                }
                                var trackAbridged = trackSearch.map(function (item) {
                                    try {
                                        return {
                                            name: item.name, url: item.url,
                                            // image: item.image[0]
                                            // eslint-disable-next-line indent
                                            image: item.image
                                        };
                                    } catch (err) { // don't do anything
                                    }
                                });
                            });
                        });
                    });
                });
            </script>
        </div>
    </div>
</div>
